.canvas {
  color: #161616;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: Rand;
  font-size: .75rem;
  font-weight: 500;
  line-height: 16px;
  display: flex;
}
nav {
  width: 100%;
  color: black;
  display: flex;
  
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #bdbbbb;
}
.name{
margin-right: 10px;
font-weight: 400;
font-size: 1.2rem;
font-family: 'Manrope', sans-serif;
font-weight: 400;
}

.collaborator{
  /* width: 78vw;
  height: 75vh; */
  /* background-color: palegoldenrod; */
  align-self: flex-start;
  margin-top: 5rem;
  margin-left: 10rem;
  border: 1px solid black;
}
.dropdown_container{
  height: fit-content;
  background-color: #FAFAFA;
  border: 1px solid #bdbbbb;
  position: relative;
  margin-bottom:15px;
  width: 18rem;
  border-radius: 5px;
}

.side-bar{
  position: absolute;
  top: 7rem;
  right: 2rem;
}
.title_div {
  border-bottom: 1px solid #DEDEDE;
  padding: 0px 10px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  font-weight: 400;
}
.sketch-list-items{
  margin: 25px 0px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.list_container{
  padding:0px 15px;

}

.button-box{
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem
}
.save-button{
  padding: .4rem 1rem ;
  font-size: 1rem;
  background-color: #bdbbbb;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}
.user-color{
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #161616;
  margin-right: 10px;
}
.user{
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 10px 0px;

}

.user-list-items{
  margin: 8px 0px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.dropdown-icon{
  cursor: pointer;
}

.file{
  padding-bottom: 30px ;
  cursor: pointer;
}

.profile-picture{
  width: 30px;
  height:30px;
  border-radius: 50%;
}